name: Build

on:
  pull_request: {}
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.2
      - name: Install zsh
        run: sudo apt-get update; sudo apt-get install time zsh -y
      - name: Checkout code
        uses: actions/checkout@v4.2.2
        with:
          repository: p6m7g8-dotfiles/p6common
          path: p6common
      - name: Dependant Repositories
        run: zsh -c 'p6df::modules::p6common::gha::ModuleDeps zsh'
      - name: Test
        env:
          P6_DFZ_SRC_P6M7G8_DOTFILES_DIR: .
          TERM: xterm
        run: zsh -e p6common/bin/p6ctl test
